<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Disaster Awareness Map</title>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    
    
    
</head>
<body>
    <div  class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">PROJECT NAME</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/">Login?</a>
            <a class="item" href="/">Other thing?</a>
        </div>
        
    </div>
    <div id="content" class="ui container">
        {{{body}}}
    </div>
	
</body>
</html>