<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Disaster Relief System</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body>
    <div  class="ui inverted menu">
      <div class="ui container">
        <a class="header item" href="/">Disaster Relief System</a>
        <a class="item" href="/">Home</a>
        {{#if user}}
        <div class="ui dropdown item">
          {{user.username}} <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/account">My Account</a>
            <a class="item" href="/signout">Sign Out</a>
          </div>
        </div>
        {{else}}
        <a class="item" href="/signin">Sign In</a>
        <a class="item" href="/signup">Sign Up</a>
        {{/if}}
      </div>
    </div>
    <div class="ui main container">
      <h1 class="ui header">Local Issues</h1>

      <p>A map of the surrounding issues is shown here.</p>

      <div id="floating-panel">

        <text><b>Select</b> the emergency issue before marking the map:</text>&nbsp&nbsp
        
        <select>
          <option id="AR_Opt" value="assistance request">Assistance Request</option>
          <option id="FI_Opt" value="fire">Fire</option>
          <option id="FL_Opt" value="flood">Flooding</option>
          <option id="EL_Opt" value="electircal">Electrical</option>
          <option id="TO_Opt" value="toxic">Toxic Materials</option>
        </select></br></br>

        <input onclick="deleteMarkers();" type=button value="Delete Markers"><div id="floating-panel">

      </div></br>

      <div id="map"></div>

      <script src="scripts/map.js"></script>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg3NBblmeFyPMZVY1ZMCVcN4pv6Nbtf2A&callback=initMap">
      </script>
   
   </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <script src="scripts/script.js"></script> 
  </body>
</html>